@font-face {
    font-family: "IRANYekan-Regular";
    src: url('../fonts/IRANYekanXFaNum-Regular.woff') format("woff");
}

@font-face {
    font-family: "IRANYekan-Bold";
    src: url('../fonts/IRANYekanXFaNum-Bold.woff') format("woff");
}

body {
    font-family: "IRANYekan-Regular";
    user-select: none;
    overflow-x: hidden;
}

.font-bold {
    font-family: "IRANYekan-Bold";
}

/* background */
.bg-main {
    background-color: #565acf;
}

.bg-main-transparent {
    background-color: rgba(86, 90, 207, 0.1);
}

.bg-second {
    background-color: #f17732;
}

.bg-blur {
    background: #ffffffbd;
    backdrop-filter: blur(11px);
}

.bg-text {
    background-image: url('../img/ext-orange.png');
    background-position: center;
    background-repeat: no-repeat;
}

.bg-text2 {
    /* background-image: url('../img/ext-orange2.PNG'); */
    background-position: right;
    background-repeat: no-repeat;
}

.bg-text3 {
    background-image: url('../img/ext-orange.png');
    background-position: right;
    background-repeat: no-repeat;
}

.bg-black-blur {
    background-color: #000000a1;
}

.bg-main-gradient {
    background: linear-gradient(90deg, #565acfab 1%, #565acfac 22%, #f0ad3a6b 74%, #f0ad3a30 100%);
}
.bg-gray{
    background-color: #f5f5fc;
}
/* text color */
.text-main {
    color: #565acf;
}

.text-main2 {
    color: #1f2278;
}

.text-second {
    color: #f17732;
}

/* cursor */
.cursor {
    cursor: pointer;
}

/* z index */
.-z-1 {
    z-index: -1;
}

.z-1 {
    z-index: 1;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.z-30 {
    z-index: 30;
}

.z-9999 {
    z-index: 9999;
}

/* padding */
.pt-150 {
    padding-top: 150px;
}

/* margin */
.mb-12 {
    margin-bottom: 12px;
}

.-mb-26 {
    margin-bottom: -26px;
}

.-mt-60 {
    margin-top: -60px;
}

.-mt-150 {
    margin-top: -150px;
}

/* font size */
.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-28 {
    font-size: 28px;
}

.fs-36 {
    font-size: 36px;
}
.fs-62 {
    font-size: 62px;
}
.fs-120 {
    font-size: 120px;
}

/* shadow */
.shadow-main {
    box-shadow: 0px 5px 20px 0px rgba(86, 90, 207, 0.3) !important;
}
.shadow-main2{
    box-shadow: 0px 5px 30px 0px rgba(86, 90, 207, 0.3);
}
.shadow-second {
    box-shadow: 0px 5px 20px 0px rgba(241, 119, 50, 0.3) !important;
}

.shadow-footerLink {
    box-shadow: 0px 4px 18px 5px #8D50EF80;
}

/* max width */
.max-w-100 {
    max-width: 100%;
    width: 100%;
}
.max-w-419 {
    max-width: 419px;
    width: 100%;
}
.max-w-526 {
    max-width: 526px;
    width: 100%;
}

.max-w-1132 {
    max-width: 1132px;
    width: 100%;
}

/* width */
.w-16 {
    width: 16px !important;
}

.w-24 {
    width: 24px !important;
}

.w-26 {
    width: 26px !important;
}

.w-30 {
    width: 30px !important;
}

.w-34 {
    width: 34px !important;
}

.w-37 {
    width: 37px !important;
}

.w-40 {
    width: 40px !important;
}
.w-42 {
    width: 42px !important;
}
.w-45 {
    width: 45px !important;
}

.w-48 {
    width: 48px !important;
}

.w-49 {
    width: 49px !important;
}

.w-60 {
    width: 60px !important;
}
.w-66 {
    width: 66px !important;
}
.w-70 {
    width: 70px !important;
}

.w-80 {
    width: 80px !important;
}
.w-90 {
    width: 90px !important;
}
.w-91 {
    width: 91% !important;
}

.w-92 {
    width: 92px !important;
}

.w-99 {
    width: 99px !important;
}

.w-130 {
    width: 130px !important;
}

.w-139 {
    width: 139px !important;
}

.w-148 {
    width: 148px !important;
}

.w-155 {
    width: 155px !important;
}

.w-180 {
    width: 180px !important;
}

.w-191 {
    width: 191px !important;
}
.w-240 {
    width: 240px !important;
}
.w-280 {
    width: 280px !important;
}

/* height */
.h-4 {
    height: 4px !important;
}

.h-16 {
    height: 16px !important;
}

.h-26 {
    height: 26px !important;
}

.h-30 {
    height: 30px !important;
}

.h-32 {
    height: 32px !important;
}

.h-34 {
    height: 34px !important;
}

.h-37 {
    height: 37px !important;
}

.h-40 {
    height: 40px !important;
}
.h-42 {
    height: 42px !important;
}
.h-44 {
    height: 44px !important;
}

.h-45 {
    height: 45px !important;
}

.h-48 {
    height: 48px !important;
}

.h-49 {
    height: 49px !important;
}

.h-52 {
    height: 52px !important;
}

.h-60 {
    height: 60px !important;
}

.h-70 {
    height: 70px !important;
}

.h-86 {
    height: 86px !important;
}

.h-92 {
    height: 92px !important;
}

.h-105 {
    height: 105px;
}

.h-130 {
    height: 130px;
}

/* padding */
.p-40 {
    padding: 40px;
}

/* border */
.border-main-2 {
    border: 2px solid #565acf;
}

.border-main-3 {
    border: 2px solid #dddef6;
}

.border-second {
    border: 1px solid #f17732;
}
/* shadow */
.shadow-1{
    box-shadow: 0px 10px 60px 0px rgba(31, 34, 120, 0.1);
}
.shadow-2{
    box-shadow: 0 7px 50px -20px #f17732;
}
/* rounded */
.rounded-8 {
    border-radius: 8px;
}

.rounded-10 {
    border-radius: 10px;
}

.rounded-13 {
    border-radius: 13px;
}

.rounded-15 {
    border-radius: 15px;
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-22 {
    border-radius: 22px;
}

.rounded-30 {
    border-radius: 30px;
}
.rounded-30-bl-0 {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0px;
}
.rounded-40 {
    border-radius: 40px;
}
.rounded-60-tr-0 {
    border-top-left-radius: 60px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.rounded-60-tl-0 {
    border-top-left-radius: 0px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.rounded-60-br-0 {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 60px;
}

.rounded-60-bl-0 {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 0px;
}

/* bottom */
.-bottom-21 {
    bottom: -21px;
}

.bottom-24 {
    bottom: -24px;
}

.bottom-34 {
    bottom: 34px;
}

.-bottom-45 {
    bottom: -45px;
}

.-bottom-52 {
    bottom: -52px;
}
.bottom-62 {
    bottom: 62px;
}
.-bottom-63 {
    bottom: -63px;
}
.bottom-74 {
    bottom: 74px;
}
.-bottom-84 {
    bottom: -84px;
}

.-bottom-140 {
    bottom: -140px;
}

/* top */
.top-25 {
    top: 25px;
}

.top-37 {
    top: 37px;
}

.top-52 {
    top: 52px;
}

.-top-63 {
    top: -63px;
}

.-top-92 {
    top: -92px;
}

.-top-108 {
    top: -108px;
}

.top-305 {
    top: 305px;
}

.top-355 {
    top: 355px;
}

/* left */
.-left-27 {
    left: -27px;
}

.left-34 {
    left: 34px;
}

.-left-38 {
    left: -38px;
}

.-left-44 {
    left: -44px;
}

.left-79 {
    left: 79px;
}
.left-200 {
    left: 200px;
}
/* right */
.right-15 {
    right: 15px;
}

.-right-27 {
    right: -27px;
}

.-right-38 {
    right: -38px;
}

.-right-45 {
    right: -45px;
}

.right-62 {
    right: 62px;
}

.right-86 {
    right: 86px;
}
.right-103 {
    right: 103px;
}
.right-170 {
    right: 170px;
}

.right-215 {
    right: 215px;
}

/* tab */
.tabContent>div {
    display: none;
}

.tabContent>div.active {
    display: block;
}

/* rotate */
.rotate-45 {
    transform: rotate(45deg);
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

/* opacity */
.opacity-50 {
    opacity: 50%;
}

/* outline */
.outline-none {
    outline: none;
}

/* overflow */
.overflow-y-hidden {
    overflow-y: hidden;
}

/* form check */
.form-check-input:checked {
    background-color: #565acf;
    border-color: #565acf;
}
/* active */
.button-hover-1:active,.swiper-button-next:active,.swiper-button-prev:active,.swiper-button-next2:active,.swiper-button-prev2:active{
    transform: scale(.9);
}
/* hover */
form input:focus, form input:hover {
    border-color: #565acf!important;
  }
.button-hover-1:hover,.swiper-button-next:hover,.swiper-button-prev:hover,.swiper-button-next2:hover,.swiper-button-prev2:hover {
    background-color: #f49762;
}

.button-hover-2:hover {
    background-color: #494db0;
}

.time-hover:hover,
.time-hover.active {
    background-color: #F0AC3A;
    color: white;
}

.social-hover svg {
    transition: all .4s ease-in-out;
}

.social-hover:hover {
    background-color: #f17732;
}

.social-hover:hover svg {
    color: white;
}

.main-hover:hover {
    background-color: #565acf !important;
    color: white;
}

.hover-main2:hover,
.hover-main2.active {
    background-color: #565acf !important;
    color: white !important;
}

/* keyframe */
.rotate {
    animation: rotate 12s ease 0s infinite normal none;
}

.bounce-right {
    animation: bounce-right 12s ease 0s infinite normal none;
}

.bounce-right2 {
    animation: bounce-right 9s ease 0s infinite normal none;
}

.bounce-top {
    animation: bounce-top 12s ease 0s infinite normal none;
}

.bounce-top2 {
    animation: bounce-top 9s ease 0s infinite normal none;
}

.bounce-top-down {
    animation: bounce-top-down 16s ease-in-out infinite;
}

.bounce-top-down2 {
    animation: bounce-top-down 15s ease-in-out infinite;
}

.shake {
    animation: shake 2s ease 0s infinite normal none;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce-right {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateX(48px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateX(26px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateX(13px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateX(6.5px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateX(4px);
    }

    25%,
    55%,
    75%,
    87%,
    98% {
        animation-timing-function: ease-out;
        transform: translateX(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes bounce-top {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-45px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes bounce-top-down {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateY(8px);
    }

    80% {
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-4px);
    }

    20%,
    40%,
    60% {
        transform: translateX(4px);
    }

    80% {
        transform: translateX(4px);
    }

    90% {
        transform: translateX(-4px);
    }
}

/* global styles */
a {
    cursor: pointer;
    text-decoration: none;
    transition: all .4s;
}

.transition {
    transition: all .4s;
}

.noVisit {
    background-color: transparent;
    color: #C4C4C4;
    border: 1px solid #C4C4C4;
}

.fullVisit {
    position: relative;
    background-color: #F2F2F2;
    color: #C4C4C4;
    border: 1px solid #C4C4C4;
}

.fullVisit::before {
    content: 'ظرفیت تکمیل';
    background-color: #F64242;
    color: white;
    position: absolute;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    height: 29px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -22px;
}

.clip-path {
    width: 149px;
    height: 149px;
    position: absolute;
    top: 2px;
    clip-path: polygon(91.726% 81.964%, 91.726% 81.964%, 86.842% 87.987%, 81.075% 92.701%, 74.588% 96.158%, 67.543% 98.406%, 60.102% 99.494%, 52.426% 99.472%, 44.68% 98.388%, 37.023% 96.293%, 29.619% 93.234%, 22.63% 89.263%, 22.63% 89.263%, 16.383% 84.42%, 11.119% 78.807%, 6.871% 72.56%, 3.67% 65.813%, 1.549% 58.702%, 0.539% 51.363%, 0.673% 43.932%, 1.983% 36.544%, 4.501% 29.335%, 8.259% 22.441%, 8.259% 22.441%, 12.937% 16.238%, 18.144% 11.034%, 23.807% 6.857%, 29.852% 3.735%, 36.204% 1.694%, 42.791% 0.765%, 49.537% 0.973%, 56.37% 2.348%, 63.214% 4.918%, 69.998% 8.709%, 69.998% 8.709%, 76.543% 13.627%, 82.604% 19.462%, 87.996% 26.07%, 92.538% 33.309%, 96.048% 41.035%, 98.343% 49.106%, 99.24% 57.377%, 98.558% 65.706%, 96.114% 73.949%, 91.726% 81.964%);
    opacity: 0.4;
    background-color: #565acf;
}

.clip-path2 {
    width: 153px;
    height: 153px;
    position: relative;
    background-color: #565acf;
    clip-path: polygon(99.242% 55.386%, 99.242% 55.386%, 98.603% 63.169%, 96.751% 70.257%, 93.788% 76.619%, 89.814% 82.228%, 84.93% 87.054%, 79.237% 91.067%, 72.834% 94.239%, 65.823% 96.541%, 58.304% 97.943%, 50.379% 98.417%, 50.379% 98.417%, 42.453% 97.943%, 34.934% 96.541%, 27.923% 94.239%, 21.52% 91.067%, 15.827% 87.054%, 10.943% 82.228%, 6.969% 76.619%, 4.006% 70.257%, 2.154% 63.169%, 1.515% 55.386%, 1.515% 55.386%, 2.437% 47.28%, 5.032% 39.326%, 9.044% 31.701%, 14.217% 24.585%, 20.296% 18.157%, 27.023% 12.595%, 34.143% 8.077%, 41.401% 4.784%, 48.539% 2.893%, 55.303% 2.584%, 55.303% 2.584%, 63.16% 3.884%, 70.345% 6.349%, 76.821% 9.875%, 82.551% 14.355%, 87.5% 19.685%, 91.63% 25.759%, 94.906% 32.471%, 97.291% 39.717%, 98.748% 47.39%, 99.242% 55.386%);
}

.clip-path3 {
    width: 149px;
    height: 149px;
    position: absolute;
    top: 2px;
    right: 2px;
    clip-path: polygon(99.242% 55.386%, 99.242% 55.386%, 98.603% 63.169%, 96.751% 70.257%, 93.788% 76.619%, 89.814% 82.228%, 84.93% 87.054%, 79.237% 91.067%, 72.834% 94.239%, 65.823% 96.541%, 58.304% 97.943%, 50.379% 98.417%, 50.379% 98.417%, 42.453% 97.943%, 34.934% 96.541%, 27.923% 94.239%, 21.52% 91.067%, 15.827% 87.054%, 10.943% 82.228%, 6.969% 76.619%, 4.006% 70.257%, 2.154% 63.169%, 1.515% 55.386%, 1.515% 55.386%, 2.437% 47.28%, 5.032% 39.326%, 9.044% 31.701%, 14.217% 24.585%, 20.296% 18.157%, 27.023% 12.595%, 34.143% 8.077%, 41.401% 4.784%, 48.539% 2.893%, 55.303% 2.584%, 55.303% 2.584%, 63.16% 3.884%, 70.345% 6.349%, 76.821% 9.875%, 82.551% 14.355%, 87.5% 19.685%, 91.63% 25.759%, 94.906% 32.471%, 97.291% 39.717%, 98.748% 47.39%, 99.242% 55.386%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding-top: 4px;
}

/* header */
img[alt='logo'] {
    width: 170px;
}

header {
    position: relative;
    z-index: 99;
    font-size: 14px;
}

header #menuOverlay {
    display: none;
}

header a {
    color: #1f2278 !important;
}

header a:hover,
header a.active,
.teamSocials a:hover {
    color: #f17732 !important;
}

header ul li:hover>a svg,
header ul li.active>a svg {
    transform: rotate(45deg);
}

header ul li ul {
    box-shadow: 0px 1px 40px 0px rgba(0, 0, 0, 0.1);
}

header ul li:hover ul {
    opacity: 100%;
    top: 109px;
    visibility: visible;
}

header ul li>a svg {
    transition: all .5s;
}

header ul ul {
    top: 105px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    position: absolute;
    width: 220px;
}

header ul ul div {
    background-color: white;
}

header ul ul a {
    color: #333c56 !important;
}

header ul ul li:last-child a {
    border-bottom: none;
}

#hamicon.active>div span:first-child {
    display: none !important;
}

#hamicon.active>div span:nth-child(2) {
    transform: rotate(42deg) translateX(2px)translateY(3px);
}

#hamicon.active>div span:last-child {
    transform: rotate(-44deg) translateX(3px)translateY(-3px);
}
/* input */
input[type="number"] {
    -moz-appearance: textfield;
}
/* banner */
.bannerShape {
    background-image: url('../img/bg1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bannerShape::after {
    content: "";
    height: 22%;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    background-image: url('../img/shape12.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100%;
}

/* about */
.boxAfter::after {
    content: "";
    position: absolute;
    top: -10px;
    right: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px 60px 0px 60px;
    background-color: #e6e7ff;
    z-index: -1;
}

.areaAfter::after {
    content: "";
    position: absolute;
    top: 49%;
    left: 46%;
    width: 50px;
    height: 50px;
    background-color: #f17732;
    border-radius: 15px;
    transform: rotate(45deg);
    z-index: -2;
}

.aboutCard::after {
    content: "";
    width: 85px;
    height: 85px;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    top: -8px;
    right: -12px;
}

.aboutCard {
    box-shadow: 0px 5px 30px 0px rgba(31, 34, 120, 0.08);
}

.aboutCard.aboutCard1::after {
    background-color: #ecfcff;
}

.aboutCard.aboutCard2::after {
    background-color: #fff0f0;
}

.aboutCard.aboutCard3::after {
    background-color: #f8f0ff;
}

.aboutCard1 {
    border: 1px solid #b2f0fb;
}

.aboutCard2 {
    border: 1px solid #ffbdbc;
}

.aboutCard3 {
    border: 1px solid #e2c4ff;
}

/* team */
.team:hover,
.card-hover:hover {
    box-shadow: 0px 10px 50px 0px rgba(0, 2, 72, 0.1);
    z-index: 9;
    border-color: #fff;
}

.team:hover>div:first-child::before,
.team:hover>div:first-child::after {
    opacity: 1;
}

.team>div:first-child::before,
.team>div:first-child::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 88%;
    height: 150%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0.2;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.team>div:first-child::before {
    background-image: url(../img/shape2.png);
    background-size: 77%;
}

.team>div:first-child::after {
    background-image: url(../img/shape1.png);
    background-size: 100%;
}

.team>div:first-child div {
    width: 54%;
    transform: rotate(45deg);
    overflow: hidden;
    margin: auto;
}

.team img {
    max-width: 100%;
    transform: rotate(-45deg);
}

/* services */
#services {
    padding-right: calc((100% - 1200px) / 2);
}

#services::after {
    content: "";
    background-color: #565acf;
    height: 100%;
    width: 45%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 0px 40px 40px 0px;
}

.servicesCard {
    z-index: 1;
    padding: 40px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.08);
    background-image: url('../img/line-bg3.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.servicesCard:hover img,
.aboutCard:hover img {
    animation: shake .7s ease 0s normal none;
}

.viewMore {
    background-color: #e1e2f6;
    width: 138px;
    height: 50px;
    border-radius: 8px;
    color: #565acf;
    font-size: 14px;
    font-weight: bold;
}

.servicesCard:hover .viewMore {
    background-color: #565acf;
    color: white;
}

/* blog */
.pageTitle{
    background-image: url('../img/img1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pageTitle::after {
    content: "";
    height: 22%;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    background-image: url('../img/shape4.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100%;
}
#blogSection {
    background-image: url('../img/line-bg2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* swiper */
.swiper-button-prev::after,
.swiper-button-next::after {
    color: white !important;
    font-weight: bold !important;
    font-size: 12px !important;
}

/* footer */
footer {
    background-image: url('../img/footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer::after {
    content: "";
    background-image: url('../img/footer-shape.png');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left top;
}

.footer-title::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 85px;
    height: 7px;
    background-image: url('../img/footer-line.png');
    background-repeat: no-repeat;
}

.mail-input {
    box-shadow: 0px 10px 60px 0px rgba(31, 34, 120, 0.1);
    transition: all .4s;
    border: 1px solid transparent;
}

.mail-input:hover {
    border: 1px solid #E1E1F0;
    box-shadow: none;
}

footer ul a:hover {
    color: #565acf !important;
}

/* goToUp */
.goToUp {
    max-height: 0;
}

.goToUp.active {
    padding: 14px 0;
    max-height: 2000px;
}

/* responsive */
@media only screen and (max-width:1400px) {}

@media only screen and (max-width:1200px) {

    .right-86 {
        right: 0;
    }

    .bg-xl-dark {
        background-color: #171a1e !important;
    }

    .w-xl-616 {
        width: 616px;
    }

    .w-xl-100 {
        width: 100%;
    }

    .border-bottom-gray-xl {
        border-bottom: 1px solid #313642 !important;
    }

    .shadow-xl-0,
    header ul li ul {
        box-shadow: none !important;
    }

    header #menuOverlay {
        position: fixed;
        inset: 0;
        background-color: #000;
        opacity: .7;
        max-height: 0;
        transition: all .4s;
        display: block;
    }

    header #menuOverlay.active {
        max-height: 100%;
    }

    header .menu {
        position: fixed;
        background: #171a1e;
        top: 0;
        bottom: 0;
        right: -1400px;
        width: 40%;
        line-height: 51px;
        overflow-y: auto;
        transition: all 1.3s;
    }

    header .menu.active {
        right: 0;
        width: 100%;
    }

    header a {
        color: white !important;
    }

    header a:hover,
    header a.active {
        color: #565acf !important;
    }

    header .menu>li {
        border-bottom: 1px solid #313642;
        padding: 0 12px;
    }

    header .menu>ul>li {
        border-bottom: 1px solid #313642 !important;
    }

    header .menu>ul>li:last-child,
    header .menu>ul>li:first-child {
        border-bottom: none !important;
    }

    header ul ul a {
        border-bottom: 1px solid #313642 !important;
    }

    header ul ul li:last-child a {
        border-bottom: none !important;
    }

    header .menu>li a.mobileactive {
        color: #f17732 !important;
    }

    header ul ul::before {
        display: none;
    }

    header ul ul {
        position: static !important;
        opacity: 100%;
        visibility: visible;
        max-height: 0;
        overflow: hidden;
        transition: all .4s;
    }

    header ul ul.active {
        max-height: 1000px;
    }

    header .menu svg {
        transition: all .4s;
    }

    header .menu svg.active {
        transform: rotate(180deg);
    }

    header ul ul div {
        background-color: transparent !important;
    }

    header ul ul a {
        color: white !important;
    }

    .left-xl-0 {
        left: 0;
    }

    .h-lg-auto {
        height: auto !important;
    }
}

@media only screen and (max-width:992px) {
    .pt-lg-70 {
        padding-top: 70px;
    }

    .fs-lg-24 {
        font-size: 24px;
    }

    #services::after {
        width: 100%;
        border-radius: 0px;
    }

    .text-lg-white {
        color: white;
    }

    .bg-text3.bg-text4 {
        background-image: url('../img/ext-orange3.PNG');
    }
}

@media only screen and (max-width:768px) {}

@media only screen and (max-width:576px) {
    .fs-sm-12 {
        font-size: 12px;
    }

    .fs-sm-14 {
        font-size: 14px;
    }

    .fs-sm-20 {
        font-size: 20px;
    }

    .fs-sm-28 {
        font-size: 28px;
    }
    .fs-sm-42 {
        font-size: 42px;
    }
    .fs-sm-80 {
        font-size: 80px;
    }

    .-right-sm-8 {
        right: -8px;
    }

    .w-sm-49 {
        width: 49px !important;
    }

    .w-sm-100 {
        width: 100% !important;
    }

    .w-sm-127 {
        width: 127px !important;
    }

    .h-sm-41 {
        height: 41px !important;
    }

    .clip-path,
    .clip-path2,
    .clip-path3 {
        width: 106px;
        height: 106px;
    }

    .clip-path2 {
        width: 116px;
        height: 109px;
    }

    .clip-path3 {
        width: 112px;
    }

    .boxAfter::after {
        border-radius: 30px 30px 0px 30px;
    }

    .areaAfter::after {
        top: 47%;
        left: 45%;
        width: 35px;
        height: 35px;
        border-radius: 9px;
    }

    .areaAfter .rounded-60-tr-0 {
        border-top-left-radius: 30px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .areaAfter .rounded-60-tl-0 {
        border-top-left-radius: 0px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .areaAfter .rounded-60-br-0 {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 30px;
    }

    .areaAfter .rounded-60-bl-0 {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 0px;
    }
}

@media only screen and (max-width:435px) {
    footer {
        padding-bottom: 126px;
    }
    .goToUp {
        bottom: 76px!important;
        margin-right: 20px!important;
    }
}

@media only screen and (min-width:435px) {
    .d-xs-none {
        display: none;
    }

    .d-xs-block {
        display: block !important;
    }
}